<div class="container" id="burgerHeader">
    <nav class="navbar navbar-light" style="background-color: #fdf2e3;">
        <span class="navbar-brand mb-0 h1" style="font-weight: bolder;">Come and get your burger before we run out of
            our world famous burgers</span>
    </nav>
</div>

<div class="container" id="burgerHolder">
    <br>
    <br>
    <div class="row" id="burgerHoldingRow">
        <div class="col-lg-6" id="OrderedBurgers">
            <ul style="list-style: none;">
                {{#each burgers}}
                {{#unless this.devoured}}
                <li style="margin: 10px;">
                    <div class="row">
                        <div class="col-lg-5">
                            <label id="burgerName_{{this.id}}"> {{this.burger_name}}</label>
                        </div>
                        <div class="col-lg-1">
                            <button data-id="{{this.id}}" class="devourBurger">Devour</button>
                        </div>
                    </div>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-lg-6" id="eatenBurgers">
            <ul style="list-style: none;">
                {{#each burgers}}
                {{#if this.devoured}}
                <li style="margin: 10px;">
                    {{!-- <p><span class="label">ID:</span> {{this.id}}</p> --}}
                    <div class="row">
                        <div class="col-lg-5">
                            <label><span class="label">burger:</span> {{this.burger_name}}</label>
                        </div>
                        <div class="col-lg-1">
                            <button data-id="{{this.id}}" class="deleteBurger">Delete</button>
                        </div>
                    </div>

                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row"> &nbsp; </div>
    <div class="row"> &nbsp; </div>
    <div class="container" id="burgerOrdering">
        <div class="form-group" id="newBurger">
            <label for="burgerText">Please tell us which burger you want</label>
            <input type="text" class="form-control" id="burgerText" size="40" placeholder="Enter burger details">
        </div>
        <button type="submit" id="submitBurger" class="btn btn-primary">Submit</button>
    </div>
    <br>
    <br>
</div>